
* {
  list-style: none;
}

h5{
  margin: 5px;
}
.icono {
  width: 25px;
  margin-right: 10px;
}
.botones {
  display: flex;
  justify-content: space-around;
  margin: 5px;
}
.toggle{
  background-color: blueviolet;
  animation: 2s infinite alternate linear toggle;
}

@keyframes toggle{
  0%{
    background-color: chartreuse;
  }
  50%{
    background-color: rgb(0, 81, 255);
  }
  100%{
    background-color: red;
  }
}



body {

  background-image: linear-gradient(to right, rgb(113, 12, 121), rgb(8, 55, 150));

  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.App {
  margin-top: 5%;
  min-width: 100%;
  min-height: 86vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.head {
  background-color: black;
  width:100vh;
  height: 110px;
  text-align: center;
  position: fixed ;
  top: -5%;
  z-index: 100;
}

.head img {
  width:60px;
}

.Footer {
  display: flex;
  justify-content: center;
  background-color: rgb(0, 0, 0);
  width: 100%;

  text-align: center;
  margin-top: 15px;
  z-index: 100;
  border-radius:50px 50px 0 0;
  bottom: 0;
}

/* .contenFooter {
  z-index: 102;
} */

.Footer img {
  width: 25px;
  margin: 0 10px;
}

/* barra de navegacion ////////////////////////////////// */

.Nav {
  background-color: rgb(40, 40, 40);
  padding:25px;
  height: 100vh;
  position: fixed;
  left: 0vh;
  top: 5vh;
}
.active{
  padding: 11px 0;
  background-color: rgb(3, 43, 78);
  border-radius: 10px;
  animation: 0.2s 1 linear nav
}

@keyframes nav{
  0%{
    padding: 0%;
  }
  100%{
    padding: 12px 0;
  }
}


.Nav li {
  margin: 45px 0;
}

.menu{
  display: none;
  position: fixed ;
  z-index: 200;
  top:0%;
  margin: 20px;
  left: 0;
}
.menu img{
  width: 40px;
}
.Nav2{
  background-color: rgb(40, 40, 40);
  padding:25px;
  height: 100vh;
  position: fixed;
  left: 0vh;
  top: 5vh;
  border-radius: 40px;
}


.Nav2 li {
  margin: 45px 0;
}
.titulo {
  background-color: rgb(0, 1, 2);
  text-align: center;
  border-radius: 20px;
}


.Login {
  background-image: linear-gradient(to bottom,rgb(58, 58, 58), rgb(6, 18, 191),rgb(58, 58, 58));
  margin-top: 15%;
  width: max-content;
  box-shadow: 100px 80px 50px rgb(11, 11, 11);
  padding: 40px;
  border-radius: 20px;
  text-align: end;
}


.Login li {
  margin: 15px;
  display: flex;
  justify-content: space-between;
}
/* .Login input{
  background-color: rgb(6, 62, 110);
} */
.Login button{
  margin: 5px;
}
.animacionConfig{
  background-color: rgba(6, 6, 6, 0.694);
  position: fixed;
  box-sizing:content-box ;
  width: 100vh;
  height: 100vh;
  display: flex;
  justify-content: center;
}
.brillo{
  background-color: rgb(49, 49, 49);
  box-sizing: content-box;
  width: 550px;
  height: 500px;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 2%;
  border-radius: 25px;
  border: red inset 10px;
  border-color: brown;
  animation: 2s infinite linear alternate borderCuadro;
}
.cuadro{
  background-color: rgba(49, 49, 49, 0);
  width:430px;
  height: 430px;
  border-radius: 25px;
  animation: 2s 2 linear alternate move;
}
@keyframes move{
 
  0%{
    transform: rotate(30deg);
  }
  70%{
    transform: rotate(-30deg);
  }
}
@keyframes borderCuadro{
  0%{
   border-color: rgb(41, 8, 203);
  }
  50%{
    border-color: yellowgreen;
  }
  80%{
    border-color: rgb(225, 0, 255);
  }
}
.cuadro img {
  width: 50px;
}

.cuadro button{
  margin:2px;
}
.cuadro button:hover{
  background-color: rgb(127, 165, 199);
  transform: scale(2);
}
/* Formato de los post en su contenedor/////////////////////// */
.contenidoInicio {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.targetPost {
  border-radius: 15px;
  margin-top: 15px;
  padding: 20px;
  width: 700px;
  background-color: rgb(45, 45, 45);
  text-align: center;
  color: wait;
}

.imgPost {
  width: 80%;
  height: 350px;
}

.targetPost button img {
  width: 20px;
}

.textPost {

  margin-left: 50px;
  text-align: start;
  width: 80%;

}

/* valores de crear y editar post////////////////////////////////////////////////// */
.editedPost {
  text-align: end;
  background-color: rgb(31, 26, 26);
  padding: 50px;
  margin: 20PX;
  border-radius: 0 0 100px;
}

.Postbutton {
  text-align: start;
}

.Postbutton img {
  width: 25px;
}

.editedPost li {
  margin: 15px;
  display: flex;
  justify-content: space-between;

}

.editedImput {
  width: 450px;
  height: 30px;
}


/* RED//////////////////////////////////////////////////// */
.RED {
  width: 100%;
  height: 100%;
  text-align: end;
}

.conversations {
  display: inline-block;
  background-color: rgb(156, 85, 162);
  width: 80%;
  padding: 15px;
  margin: 10px;
  border-radius: 25px;
  text-align: start;
}

.conversations div {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.conversations img {
  width: 30px;
}
/* 
//////////////MY PERFIL//////////////////// */
.contentMyPerfil{
  text-align: center;
  width: 65%;
  height:400px ;
  margin-bottom: 40px;
  margin-bottom: 75px;
}

.MyperfilConten {
  margin-top: 0;
  display: flex;
  width: 100%;
  background-color: rgb(11, 41, 211);
  height: 350px;
  border-radius: 400px 400px 400px 400px;
  animation:2s  1  linear PerfilMove;
}


.iconPerfil {
  width: 300px;
  background-color: black;
  padding: 15px;
  border-radius: 50%;
}

.nameUser {
 color: black;
  width: 45%;
  font-weight: bolder;
  font-size: large;
  padding-left:0;
  animation:2s  1  linear PerfilMove;
}

@keyframes PerfilMove{
  0%{
    width: 0%;
  }
  100%{
    width: 100%;
  }
}

.BotonesMyperfil{
margin: 20px 0px;
  width: 500px;
  display: inline-flex;
  justify-content: space-around ;
}

.ContenMensajes{

  width:1000px;
  margin-left: 17%;
}
.Mensaje{
  background-color: white;
  color: black;
  padding:25px;
  margin: 20px;
  width: 1000px;
  max-width: 800px;
  border-radius: 100px 100px;
}

.BarraMensaje{
  padding: 10px;
  background-color: rgb(40, 40, 40);
  width: auto;
  text-align: center;
}
.BarraMensaje input{
background-color: rgb(2, 0, 16);
width:90%;
height: 30px;
}
.buttonM{
  
  display: flex;
  justify-content: end;
  text-align: end;
  cursor: pointer;
}


